footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer .d-flex{
    flex: 1 200px;
}

.card-hotel{
    flex: 1 300px;
    margin-top: 20px;
}


.card-hotel img{
    height: 200px;
    width: 100%;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;

}
.jumbotron{
    margin-top: 50px;
    margin-bottom: 20px;
}

i{
    padding-right: 5px;
}

.breadcrumb{
    --bs-bg-opacity: 0.2;
    padding: 5px 15px 5px 15px;
}

.labels-form{
    margin-right: 15px;
}

