footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 5px 10px 5px 10px;
}

.btn-reserva{
    width: 100%;

}
.jumbotron{
    margin-top: 50px;
    margin-bottom: 20px;
}

i{
    padding-right: 10px;
}